<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <title>Agent</title>

    <style type="text/css">

        #enter {
            position: relative;
            display: flex;
            justify-content: center;
            top: 50%
        }
        .section {
            position: relative;
            display: flex;
            justify-content: center;
            top: 50%;
        }
    </style>
</head>
<body>

<section class="section">
    <div class="container">

        <h1>Agent</h1>

        <h2>Welcome!</h2>

    </div>
</section>
<a id = "enter" class="pseudo button" href="/agents/index">Enter Kingsman Agent Database</a>

</body>
</html>