
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Solar Farm - Not Found</title>
</head>
<body>

<section class="section">
    <div class="container">

        <h1 class="title is-1">Agent</h1>

        <h2 class="title is-2">Not Found</h2>

        <p>Could not find the requested record.</p>

        <a href="/agents/index">Go Home</a>

    </div>
</section>

</body>
</html>